ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 100%;
}

li {
  float: left;
  height: 100%;
  width: 15%;
}

li a {
  height: 100%;
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

li a:hover {
  background-color: #111;
}

#header {
  height:70px;
}

#main {
   width: 100%;
   height: calc( 100vh - 70px );
}

#homeImg {
   height: 100%;
   width: 100%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkGrey;
  color: white;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
	padding: 20vh;
}